* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.container {
  width: 85vw;
  height: 50vh;
  border: 0.1rem solid #0a2255;
  margin: 0 auto;
}

h1 a {
  text-decoration: none;
  font-size: 5rem;
  color: #393977;
}

.header__titleBox {
  float: left;
}

.header__searchBox {
  float: right;
}
