* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 10px;
}

.container {
  width: 85vw;
  height: 75vh;
  margin: 0 auto;
}

h1 a {
  text-decoration: none;
  font-size: 7rem;
  color: #393977;
}

.header {
  height: 10rem;
  padding: 1rem 0;
}

.header__titleBox {
  float: left;
  margin-top: 1rem;
}

.header__searchBox {
  float: right;
  background-image: linear-gradient(to right, #e4f2b9, #b7e953);
  width: 40rem;
  height: 6rem;
  padding: 1.2rem;
  margin-top: 1rem;
  border-radius: 2.5rem;
}

.header__searchBox .text {
  float: left;
  width: 20rem;
  padding: 0.9rem;
  font-size: 1.5rem;
  color: #e36a0c;
  border-radius: 2rem;
  background-image: url(../images/magnifier.png);
  background-repeat: no-repeat;
  background-position: right;
}

.header__searchBox .button {
  float: right;
  padding: 0.7rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #a751d6;
  font-size: 1.5rem;
  border-radius: 2rem;
}

.clear {
  clear: both;
}

.nav {
  height: 7rem;
  background-image: linear-gradient(to right bottom, #f8f594, #d5d533);
  padding: 1.7rem 0;
}

.nav .nav__list {
  list-style: none;
}

.nav .nav__list .nav__list--item {
  float: left;
  padding: 0 3rem;
  height: 3rem;
  border-right: 1px solid #5d12e7;
}

.nav .nav__list .nav__list--item:last-child {
  border-right: none;
  margin-right: 2rem;
}

.nav .nav__list .nav__list--item:first-child {
  margin-left: 15rem;
}

.nav .nav__list .nav__list--item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #5d12e7;
  line-height: 3rem;
  transition: font-size 0.3s ease;
}

.nav .nav__list .nav__list--item a:hover,
.nav .nav__list .nav__list--item a.first {
  font-size: 2rem;
  font-weight: bold;
  color: #b314db;
}

.main {
  height: 20rem;
  background-image: linear-gradient(to right bottom, #e5f2bb, #b7e952);
  padding: 3rem;
  margin: 1.6rem 0;
}

.main .main__title {
  font-size: 4rem;
  color: #316901;
  font-weight: normal;
}

.main .main__text p {
  font-size: 2.5rem;
  color: #628f19;
  text-align: justify;
}
